extends layout.pug 

append head 
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/about-us.css')
  link(rel='stylesheet' href='/stylesheets/footer.css')

block content 
  nav(class="nav__container")
    img(src="/images/logo-thin.png" class="logo")
    div.rightSide
      a(href=`/newsfeed` class="nav-item") Home
  .layout 
    .intro__container 
      h1#header1 We all have an escape. We developers choose Travel.
      p#description By re-creating the publishing platform 'Medium', we present to you TravelScape. 
      p#description Our TravelScape Full-Stack Project opens up communication between travelers near and far. Here, your vacation stories come to life and inspire adventures for the friends you make along the way. From tales of the well-traveled to dream vacations shared by the wanderer-at-heart, our goal is that every page will take you on a new journey.
        //- button(type='click' class='github-repo') Our Repository on GitHub
      div#git-button
        a#git-link(href='https://github.com/jemcodes/travelScape' target='_blank') Our Repository on GitHub
    .bio__container
      .bio__container-person
        .developer Eunice Park
          img#image(src='/images/eunice.png')
          .bio
            //- p.name Eunice Park 
            .developer__links
              a.links#github(href='https://github.com/euniceparkk' target='_blank') Github
              a.links#linkedin(href='https://www.linkedin.com/in/euniceparkk/' target='_blank') Linkedin
            .developer__story After 3 years, I graduated in 2019 with a B.S. in Business. Upon gradation, I pursued law school. However, in the midst of acceptances, I realized my passion for software development. I wanted to pursue a career that was personally more fulfilling and tech does exactly that. Software development allows me to channel my creativity, work collaboratively with others, and instill a problem-solving mentality. With that, I aspire to transition as a Full-Stack Software Engineer.

      .bio__container-person
        .developer Jamie Sullivan
          img#image(src='/images/jamie.png')
          .bio 
            //- p.name Jamie Sullivan 
            .developer__links
              a.links#github(href='https://github.com/bilbopicard' target='_blank') Github
              a.links#linkedin(href='https://www.linkedin.com/in/sullivan-jamie/' target='_blank') Linkedin
            .developer__story After years behind the bar creating craft cocktails I wanted to try something new. That led me to the world of computers and programming and code where my creative juices can still flow. The more I learn the less I feel I know.

      .bio__container-person
        .developer jane Martin
          img#image(src='/images/jane.png')
          .bio 
            //- p.name Jane Martin 
            .developer__links
              a.links#github(href='https://github.com/jemcodes' target='_blank') Github
              a.links#linkedin(href='https://www.linkedin.com/in/jemcodes/' target='_blank') Linkedin
            .developer__story Programming brings together my passions for building, creating, and problem-solving. Before coming to the coding world, I worked several lifetimes' worth of creative and analytical careers, from founding and managing companies to voiceover work to digging deep into disability law - and almost everything else in between. As a multipotentialite, I'm thrilled to see where this programming journey takes me!

      .bio__container-person
        .developer Patrick Nusbaum
          img#image(src='/images/patrick.png')
          .bio 
            //- p.name Patrick Nusbaum
            .developer__links
              a.links#github(href='https://github.com/patricknuttree' target='_blank') Github
              a.links#linkedin(href='https://www.linkedin.com/in/patrick-nusbaum-mpa' target='_blank') Linkedin
            .developer__story I initially got into software development through my previous career in fundraising and sales. When working within CRMs, I found myself digging deeper into the programs to find new ways to handle processes. I realized there was only so far I could go with my knowledge base, but that depth didn't satisfy my curiosity. Learning software development has given me the proverbial shovel to continue digging for exciting answers and new ways of doing things.
  include footer.pug