div(class="footer-container")  
  div(class="developers-container") 
    p(class="developer-names") Eunice Park
    p(class="developer-names") Jamie Sullivan
    p(class="developer-names") jane Martin
    p(class="developer-names") Patrick Nusbaum
  div(class="footer-content-container")
    a(class="contact-us" href="/about-us") Contact us
    p(class="website-clone") © Travelscape 2021
