extends layout.pug 

block content
	a(href='/users/signup')
		button(type="button") MAKE PASSPORT
	a(href='/users/login')
		button(type="button") USE PASSPORT
	a(href='/users/demo')
		button(type="button") DEMO USER 