extends layout.pug 

include utils.pug

block content 
	div(class="errors-container")
	h2 Log In 
		+validationErrorSummary(errors)
		form(action='/users/login' method='post')
			input(type='hidden' name='_csrf' value=csrfToken)
			+field('Email Address', 'email', email)
			+field('Password', 'password', null, 'password')
			button(type='submit') Welcome Home
			a(href='/users/signup') Don't have an account? Sign up here.