extends layout.pug 

include utils.pug

append head
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	link(rel='stylesheet' href='/stylesheets/log-in.css')
	script(type='text/javascript' src='/javascripts/navbar.js')

block content 
	h1 CONTINUE YOUR ADVENTURE!
	div(class="errors-container")
		+validationErrorSummary(errors)
	div(class="log-in-container")
		div(class="log-in-contents")
			form(action='/users/login' method='post' id="form__container")
				input(type='hidden' name='_csrf' value=csrfToken)
				+field('Email Address', 'email', email)
				+field('Password', 'password', null, 'password')
				div(id="log-in-btn-container")
					button(type='submit' id="log-in-btn") Welcome Home!
					a(href='/users/signup' id="sign-up-link") Don't have an account? Sign up here.