extends layout.pug 

append head 
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	script(type='text/javascript' src='/javascripts/navbar.js')

header 
  div(class="main__navbar")
    div(class="main")