extends layout.pug 

append head 
	link(rel='stylesheet' href='/stylesheets/newsfeed.css')
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	script(type='text/javascript' src='/javascripts/navbar.js')

block content
	.nav__container 
		div(class='nav-logo')
			a(href='/newsfeed') LOGO
		div(class='nav-link')
			a(class="nav-profile" href=`/profile${user.id}`) PROFILE
			a(class='nav-home' href="/newsfeed") HOME
	.article__container-newsfeed 
		each article in articles
			.article__image
				img(src=article.imageSrc)
			.article__title= article.title
			.article__user By: #{article.User.pen_name}
