extends layout.pug 

block content 
  div(class="nav-bar-container")
  //- INDIVIDUAL NAME PROFILE CLICKABLE:
  a(href=`/profiles/${user.id}` class="user-name-link")= user.pen_name
  //- FOLLOWERS CLICKABLE??:

  a(href=`/profiles/${user.id}/penpals` class="pen-pal-link")= `${penPalCount} Pen Pals`
  //- a(href in a BUTTON/DROPDOWN?? to go to user's personal profile)
  //- a(href='/profle???' class="")
  a(href=`/newsfeed`) Article Home
  a(href=`/profiles/${loggedIn}`) My Profile
  a(href=`/profiles/logout`) Log Out

    //- button(type="button" class="profile-button") PROFILE