@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  background-color: #F7F7F7;
}

.article__container{
  width: 90%;
  margin: 15vh auto 0;
  flex-direction: column;
  /* border: solid 5px red; */
  max-width: 700px;
  justify-content: center;
  padding: 30px;
}

.article__title{
  padding-top: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  /* text-shadow: 2px 2px 2px rgba(161, 170, 169, .9); */
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

.article__user{
  /* text-shadow: 2px 2px 2px rgba(105, 105, 105, .4); */
  display:flex;
  align-items:flex-end;
  font-family: sans-serif;
}

.article__user-link {
  margin-left: 5px;
}

.article__user-link:hover{
  color: royalblue;
}

.article__container-content{
  margin: 20px 0;
  background-color: rgba(211,211,211,0.75);
  padding: 2px 15px;
  border-radius: 3px;
}

/* .article__container-stamps-icon{
  display: flex;
  justify-content: center;
} */

#articleText{
  font-size: 12pt;
  line-height: 1.5rem;
}

.article__container-image{
  max-width: 750px;
	margin-top: 10px;
}

#articleImg{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.article__container-icons{
  display: flex;
  justify-content: flex-end;
  max-width: 750px;
	margin-top: 10px;
}

.form__button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentBtn {
  border: 1px solid black;
  height: 30px;
  padding: 4px 8px;
  border-radius: 3px;
}

#commentBtn:hover {
  background-color: #CB997E;
}

#like{
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 40px;
}
h2 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}
#comments__container{
  margin-top: 10px;
  grid-column: 4 / 10;
  background-color: rgba(123,165,184,0.5);
  padding: 2px 15px;
  border-radius: 3px;
}
.comments__author {
  padding-bottom: 0;
  /* border-bottom: 1px solid rgba(211,211,211,1); */
}
.comments__author p {
  font-size: 1.2rem;
  margin: 2px;
}

.comments__content {
  background-color: rgba(211,211,211,0.75);
  /* border: 1px solid red; */
  border-radius: 5px;
}

.comments__content p {
  padding: 4px 4px 4px 10px;
  margin: 5px auto;
}
.comments__date p {
  font-size: 0.8rem;
  margin: 3px auto 5px;
}

#each-comment {
  background-color: #f7f7f7;
  padding: 2px 5px;
  margin: 10px auto;
  border-radius: 5px;
}

/* .form__comment{
  margin-bottom: 40px;
} */

.form__inputs{
  display: flex;
  justify-content: center;
  width: 100%;
}

.article-delete-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-button{
  max-width: fit-content;
  background-color: rgba(124, 165, 184, .5);
  font-weight: bold;
  border-radius: 5px;
  padding:5px 15px 5px 15px;
}

.delete-button:hover{
  background-color: rgba(255, 0, 0, .5);
  box-shadow: 2px 2px 3px 3px rgb(255, 0, 0)

}
